<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Permitir acceso directo a archivos reales en public
    RewriteCond %{REQUEST_URI} ^/public/ [NC]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Redirigir todo a public/index.php
    RewriteRule ^(.*)$ public/index.php [L,QSA]
    
</IfModule>

php_value upload_max_filesize 10M
php_value post_max_size 10M
php_value max_execution_time 30
php_value upload_tmp_dir storage/tmp
php_value error_log /storage/logs/php_errors.log