:root {
  /* Common text styles */
  --font-family: "Inter", console;
  --font-size-small: 14px;
  --font-size-large: 24px;
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --line-height-small: 125%;
  --line-height-large: 150%;

  /* Common spacings*/
  --spacing-xsmall: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 0.75rem;
  --spacing-large: 1rem;

  /* Common border radius */
  --rounded-md: 0.5rem;
  --rounded-lg: 0.75rem;

  /* Common colors */
  --gray-900: #232323;
  --gray-800: #2d2d2d;
  --gray-700: #525252;
  --gray-600: #6b7280;
  --gray-500: #828282;
  --gray-400: #d2d2d2;
  --gray-300: #e4e4e4;
  --gray-200: #f2f2f2;
  --gray-100: #f7f7f7;
  --gray-50: #f9f9f9;
  --white: #fff;
  --black: #000;
  --red-900: #e02424;
  --red-500: #ef4444;
  --red-300: #fef2f2;
  --green-400: #34c759;
  --green-300: #d4f7e0;
  --yellow-400: #ff9500;
  --yellow-300: #fffbeb;
  --blue-500: #2563eb;
  --blue-400: #3b82f6;
  --blue-300: #eff6ff;

  /* Common shadows */
  --shadow-soft: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-normal: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.05);

  /* Common alpha colors for shadows */
  --black-alpha-5: rgba(0, 0, 0, 0.5);
  --black-alpha-4: rgba(0, 0, 0, 0.4);
  --black-alpha-3: rgba(0, 0, 0, 0.3);
  --black-alpha-2: rgba(0, 0, 0, 0.2);
  --black-alpha-1: rgba(0, 0, 0, 0.1);
  --blue-alpha-4: rgba(59, 130, 246, 0.4);
  --white-alpha-2: rgba(255, 255, 255, 0.2);


  /* Common blur */
  --blur: blur(5px);

  /* Common modal styles */
  --modal-padding: 1.75rem;
  --modal-margin: 14px;
  --modal-border: #e5e7eb;
  --modal-width-small: 400px;
  --modal-width-medium: 500px;
  --modal-width-large: 700px;
  --modal-width-xlarge: 900px;

  /* Common transitions */
  --transition: all 300ms cubic-bezier(0.16, 1, 0.3, 1);
  --transition-md: all 200ms cubic-bezier(0.16, 1, 0.3, 1);
  --transition-fast: all 150ms ease;
  --transition-opacity-transform: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

body {
  background-color: var(--gray-50);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar:horizontal {
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--black-alpha-1);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--black-alpha-2);
}

hr {
  height: 2px;
  width: auto;
  background-color: var(--gray-300);
}

h1 {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-large);
  letter-spacing: -0.24px;
}

h1.form-title {
  padding-bottom: 0.3rem;
}

p {
  width: inherit;
  display: flex;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-large);
  color: var(--gray-900);
}

a {
  color: var(--gray-500);
  cursor: pointer;
}

label {
  align-self: stretch;
  color: var(--gray-900);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-large);
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  display: flex;
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-small);
  height: 3rem;
  padding: var(--spacing-medium) var(--spacing-large);
  align-items: center;
  align-self: stretch;
  border-radius: var(--rounded-md);
  border: 1px solid var(--gray-300);
  background: var(--gray-200);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  min-width: 21rem;
}

input.matching-search {
  max-width: 16rem;
  height: 3rem;
  border: 1px solid var(--gray-300);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: var(--font-size-small);
  padding-left: 40px;
  padding-right: 24px;
  line-height: var(--line-height-small);
  border-radius: var(--rounded-md);
  border: 1px solid var(--gray-300);
  background: var(--gray-100);
}

select {
  min-width: 10rem;
}

input[type="checkbox"] {
  accent-color: #2f2f31;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}

input[type="file"] {
  width: 35.5rem;
  height: 3rem;
  border: 1px solid var(--gray-300);
  border-radius: 0.5rem;
  display: inline-block;
  line-height: 0.5rem;
  background-color: var(--gray-200);
}

input::file-selector-button {
  background-color: var(--gray-800);
  background-position-x: 0%;
  background-size: 100%;
  border: 0;
  height: 3rem;
  border-radius: 0;
  color: var(--white);
  padding: 0.8rem 1.25rem;
  margin-right: 1rem;
}

input::file-selector-button:hover {
  background-color: var(--gray-900);
  box-shadow: 0 4px 12px var(--black-alpha-3);
  transform: translateY(0px);
  border-color: var(--white-alpha-2);
}

button[type="submit"],
button[type="reset"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: var(--spacing-small) var(--spacing-large);
  gap: var(--spacing-small);
  border-radius: var(--rounded-md);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-large);
}

button[type="submit"] {
  background: var(--gray-800);
  transition: var(--transition-md);
  color: var(--white);
  min-width: 8rem;
}

button[type="submit"]:hover {
  background: var(--gray-900);
  box-shadow: var(--black-alpha-3);
}

button[type="reset"] {
  background: transparent;
  color: var(--black);
  min-width: 6rem;
}

button[type="reset"]:hover {
  background: var(--gray-200);
  color: var(--gray-900);
}

button[type="button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: var(--rounded-md);
  border: 1.5px solid var(--gray-400);
  background-color: var(--gray-200);
  padding: 0.5rem;
  color: var(--gray-700);
}

button[type="button"]:hover {
  background-color: var(--gray-300);
  border-color: var(--gray-300);
}

button[type="button"]:hover svg {
  stroke: var(--gray-700);
}

svg {
  stroke: var(--gray-500);
  width: 1.5em;
  height: 1.5em;
}

.expired-session-message {
  color: var(--red-900);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-large);
}

.error-message {
  color: var(--red-900);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-large);
}

.error-input {
  border-radius: var(--rounded-md) !important;
  border: 1px solid var(--red-500) !important;
  background: var(--red-300) !important;
  color: var(--red-900) !important;
}

.error-input::placeholder {
  color: var(--red-500);
}

.error-input:focus-visible {
  border-color: var(--red-500) !important;
  outline: 2px solid var(--red-900) !important;
  outline-offset: -2px !important;
  box-shadow: none !important;
}

input[type="password"].error-input {
  color: var(--red-500);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--gray-50) inset !important;
  -webkit-text-fill-color: var(--black) !important;
}

input.error-input:-webkit-autofill,
input.error-input:-webkit-autofill:hover,
input.error-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--red-300) inset !important;
  -webkit-text-fill-color: var(--red-900) !important;
  border: 1px solid var(--red-500) !important;
}

.btn-close:hover svg {
  stroke: var(--gray-900);
}

.btn-cancel,
.btn-primary,
.btn-secondary,
.btn-danger,
.btn-success,
.btn-retry {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-fast);
  border: none;
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
}

.btn-cancel {
  background: transparent;
}

.btn-cancel:hover {
  background: var(--gray-200);
}

.btn-primary {
  background: var(--gray-800);
  color: white;
  min-width: 8rem;
}

.btn-primary:hover:not(:disabled) {
  background: var(--gray-900);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn-danger {
  background: var(--red-500);
  color: white;
}

.btn-danger:hover:not(:disabled) {
  background: var(--red-900);
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(239, 68, 68, 0.4);
}

.btn-retry {
  background: var(--blue-300);
  color: white;
}

.btn-primary:disabled,
.btn-secondary:disabled,
.btn-danger:disabled {
  background: var(--gray-300);
  color: white;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

/* BREADCRUMB */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
  font-size: 14px;
  color: var(--gray-500);
}

.breadcrumb a {
  color: var(--blue-400);
  font-weight: var(--font-weight-normal);
  text-decoration: none;
  transition: var(--transition-fast);
}

.breadcrumb a:hover {
  color: var(--blue-500);
  text-decoration: underline;
}

.breadcrumb-separator {
  color: var(--gray-400);
}

.breadcrumb-separator svg:hover {
  color: var(--gray-400) !important;
}

.custom-js-tooltip {
  position: absolute;
  background-color: var(--gray-900);
  color: var(--white);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-soft);
  z-index: 1070;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-opacity-transform);
  white-space: nowrap;
}

.custom-js-tooltip.show {
  opacity: 1;
  transform: translateY(0) !important;
}

.protected-tooltip {
  background-color: var(--red-500);
}

/* padding */
.container {
  padding: 2.5rem 10.5rem 2.5rem 10.5rem;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;
  padding-bottom: 1.5rem;
}

.tools {
  display: flex;
  gap: 1rem;
  padding: var(--spacing-large);
  border-radius: var(--rounded-md);
  border: 1px solid var(--gray-300);
  box-shadow: var(--shadow-normal);
  margin-bottom: 1rem;
  justify-content: space-between;
  background-color: var(--white);
}

.filter_form {
  display: flex;
  gap: 1rem;
}

.input-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  stroke: var(--gray-500);
  pointer-events: none;
}


.clear-button {
  position: absolute;
  right: 1rem;
  top: 46%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  font-weight: var(--font-weight-thin);
  color: var(--gray-500);
  display: none;
}

/* Common table styles */
tbody>tr:last-child>* {
  border: 0 !important;
}

th {
  padding-left: 1.25rem !important;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  background-color: var(--gray-200);
  border: 0 !important;
  color: var(--gray-500);
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-large);
  text-transform: uppercase;
}

tr {
  padding-left: 1.25rem !important;
  height: 4rem !important;
  border-bottom: 1px solid var(--gray-300);
}

tr:last-child {
  border-bottom: 0;
}

.dt-paging-button {
  border-radius: var(--rounded-md) !important;
  height: 2rem;
  width: 2rem;
}

td {
  padding-left: 1.25rem !important;
  color: var(--gray-900);
  font-size: var(--font-size-small);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-large);
}

td:not(.dt-empty):last-child {
  display: flex;
  gap: 0.4rem;
  padding: 11px;
}

td.dt-empty {
  align-content: center;
}

/* Action buttons styles */
.editar,
.remover,
.opciones {
  border: none;
  padding: 6px;
  border-radius: 6px;
  background-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.editar:hover {
  background-color: var(--gray-200);
  box-shadow: var(--shadow-normal);
}

.editar:hover svg {
  transform: translateY(-1px) scale(1.05);
  stroke: var(--blue-400) !important;
  filter: drop-shadow(0 1px 1px var(--black-alpha-2));
}

.remover:hover {
  background-color: var(--gray-200);
  box-shadow: var(--shadow-normal);
}

.remover:hover svg {
  transform: translateY(-1px) rotate(-5deg);
  stroke: var(--red-500) !important;
  filter: drop-shadow(0 1px 1px var(--black-alpha-2));
}

.opciones:hover {
  background-color: var(--gray-200);
  box-shadow: var(--shadow-normal);
}

.opciones:hover svg {
  transform: translateY(-1px);
  filter: drop-shadow(0 1px 1px var(--black-alpha-2));
  stroke: var(--gray-900);
}

.editar svg,
.remover svg,
.opciones svg {
  transition: var(--transition);
  stroke: var(--gray-500);
}

/* DataTables common styles */
div.dt-layout-table {
  overflow: hidden;
  background-color: var(--white);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-normal);
  border: 1px solid var(--gray-300);
}

/* Table loading styles */
.table-loading-container {
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-50);
  border-radius: var(--rounded-lg);
  opacity: 0;
  transition: var(--transition);
}

.table-loading-container.show {
  opacity: 1;
}

.table-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  gap: 16px;
}

.table-spinner {
  width: 32px;
  height: 32px;
  border: 3px solid var(--gray-300);
  border-top: 3px solid var(--blue-400);
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.table-loading p {
  color: var(--gray-500);
  font-size: 16px;
  margin: 0;
}

.table-container {
  position: relative;
  min-height: 400px;
}

.dt-layout-row:first-of-type {
  display: none !important;
}

@media (max-width: 1200px) {
  .container {
    padding: 2rem 2rem;
  }
}